*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.appbar{
    border-bottom: 4px solid rgb(243, 122, 122); 
}

.fa-shopify, .fa-bag-shopping, .fa-circle-question{
    margin-right: 5px;
}

/* -----------------Banner------------ */
.banner-img{
    width: 100%;
    height: 500px;
}

/* -----------------SingleProduct-------------- */

.wrapper {
  padding: 40px;
  display: flex;
  align-items: center;
}

.wrapper-imgdiv {
  flex: 1;
}

.wrapper-imgdiv img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.wrapper-contentdiv {
  flex: 1;
  padding: 0px 50px;
}

.wrapper-contentdiv h1 {
  font-weight: 200;
}

.wrapper-contentdiv p {
  margin: 20px 0px;
  color: rgb(90, 85, 85);
}

.wrapper-contentdiv h6 {
  font-weight: 100;
  font-size: 30px;
}

.wrapper-buttons {
  margin: 20px 0px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* ------------------Grid---------- */

.grid-img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.grid-container{
    padding: 0px 20px;
}

/* .grid-card{
    height: max-content;
} */

/* pagination */
.pagination{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

/* -------------Footer--------------- */
.footer{
  padding: 20px 0;
  background-color:#000;
  border-top: 6px solid rgb(243, 122, 122)
}

.footer .social{
  text-align: center;
  color: #d2dde6;
  padding-top: 25px;
}
.footer .social a{
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
}

.footer .social a:hover{
  background-color: rgb(243, 122, 122);
}

.footer ul{
  color: #fff;
  margin-top: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer ul li a{
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover{
  opacity: 1;
}


/* ----------------media_queries---------------- */

@media(max-width: 935px){
  .wrapper {
    padding: 10px;
    flex-direction: column;
  }

  .wrapper-imgdiv img {
    height: 50vh;
  }

  .wrapper-contentdiv {
    padding: 10px;
  }

  .wrapper-buttons {
    width: 100%;
  }
}

@media(max-width: 650px){
  .banner-img{
    height: 250px;
  }
}

@media(max-width: 350px){
  .banner-img{
    height: 150px;
  }
}